{:source-paths ["src-clojure" "test-clojure"]
 :builds
 {:node-tests
  {:target    :node-test
   :output-to "target/pss/bench.min.js"
   :ns-regexp "^me.tonsky.persistent-sorted-set.test.await-cps-bench"
   :compiler-options {:infer-externs true
                      :parallel-build true
                      :static-fns true
                      :fn-invoke-direct true
                      :elide-asserts true
                      :optimizations :advanced}}}}